
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-flight:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-road:before { content: '\e803'; } /* '' */
.icon-cancel-circled:before { content: '\e804'; } /* '' */
.icon-level-up:before { content: '\e805'; } /* '' */
.icon-cemetery:before { content: '\e80e'; } /* '' */
.icon-hospital:before { content: '\e821'; } /* '' */
.icon-religious-christian:before { content: '\e82f'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-industry:before { content: '\f275'; } /* '' */
