
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-flight:before { content: '\e801'; } /* '' */
.icon-doc-text:before { content: '\e802'; } /* '' */
.icon-road:before { content: '\e803'; } /* '' */
.icon-code:before { content: '\e804'; } /* '' */
.icon-adult:before { content: '\e805'; } /* '' */
.icon-briefcase:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-cancel-circled:before { content: '\e808'; } /* '' */
.icon-moon-inv:before { content: '\e809'; } /* '' */
.icon-gauge:before { content: '\e80a'; } /* '' */
.icon-hospital:before { content: '\e821'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-info-circled:before { content: '\f085'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-industry:before { content: '\f275'; } /* '' */
